services:
  frontend:
    build: ./Frontend
    ports:
      - "90:90"
    environment:
      - VITE_API_URL=https://api.hak-rosti-v-it.ruka.me
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./Backend
    ports:
      - "9000:9000"
    environment:
      DEBUG: "False"
      SECRET_KEY: "your-secret-key-change-in-production"
      DB_NAME: rasti_db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DB_PORT: 5432
      ALLOWED_HOSTS: "localhost,127.0.0.1,backend,rastivit2025-service-3diepp-12485b-77-110-105-180.traefik.me"
      CORS_ALLOWED_ORIGINS: "http://localhost,http://127.0.0.1,https://rastivit2025-service-3diepp-ea5c86-77-110-105-180.traefik.me,https://rastivit2025-service-3diepp-12485b-77-110-105-180.traefik.me"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: rasti_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
